.footer-container {
    position: relative;
}
.footer-container > hr {
    border: 1px solid var(--lightgray);
}
.footer {
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
    height: 12rem;
}
.social-handles {
    display: flex;
    gap: 4rem; 
    padding-top: 2rem;
}
.social-handles > img {
    width: 2rem;
    height: 2rem;
    cursor: pointer;
}
.logo > img {
    width: 10rem;
}
.footer-blur {
    bottom: 0;
    left: 0;
    width: 18rem;
    height: 14rem;
}