.testimonials{
    display: flex;
    gap: 1rem;
    padding: 0 2rem;
}
.left-testim{
    display: flex;
    flex: 1 1;
    gap: 2rem;
    flex-direction: column;
    text-transform: uppercase;
    color: white;
}
.left-testim > :nth-child(1){
    color: var(--orange);
    font-weight: bold;
}
.left-testim > :nth-child(2),
.left-testim > :nth-child(3)
{
    font-size: 3rem;
    font-weight: bold;
}
.left-testim > :nth-child(4){
    text-transform: none;
    text-align: justify;
    letter-spacing: 2px;
    line-height: 30px;
}
.right-testim{
    flex: 1;
    position: relative;
}
.right-testim > img {
    position: absolute;
    width: 17rem;
    height: 20rem;
    object-fit: cover;
    right: 8rem;
    top: 2rem;
}
.right-testim > :nth-child(1){
    position: absolute;
    width: 17rem;
    height: 20rem;
    border: 2px solid orange;
    background-color: transparent;
    right: 9rem;
    top: 0.9rem;
}
.right-testim > :nth-child(2){
    position: absolute;
    width: 17rem;
    height: 19rem;
    right: 7rem;
    top: 4rem;
    background: var(--planCard);
}
.arrows{
    display: flex;
    gap: 1rem;
    position: absolute;
    bottom: 1rem;
    left: 3rem;
}
.arrows > img {
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
}

@media screen and (max-width: 810px) 
{
    .left-testim > :nth-child(2),
    .left-testim > :nth-child(3) {
        font-size: xx-large;
    }     
    .left-testim {
        gap: 1rem;
    }
    .right-testim {
        position: relative;
        left: 7rem;
    }
    .right-testim > :last-child {
        display: flex;
        bottom: -3rem;
        left: -28rem;
        gap: 8rem;
    }
}

@media screen and (max-width: 768px) {
    .testimonials {
        flex-direction: column;
    }

    .left-testim > :nth-child(2),
    .left-testim > :nth-child(3) {
        font-size: xx-large;
    }
    .right-testim {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2rem;
    }
    .right-testim > div {
        position: relative;
        display: none;
    }
    .right-testim > img {
        position: relative;
        align-self: center;
    }
    .right-testim > :last-child {
        display: flex;
        bottom: -1rem;
        left: -8rem;
        gap: 10rem;
    }
}